data
tests.py
runs
Test_Shapenet_Dataset.ipynb
labels.npy
model95.pt
pos.npy
predicted.npy
test_pytorch_alex_labels.npy
test_pytorch_alex_points.npy
test_pytorch_alex.npy
test_alex_seg_model_pytorch.py
other_tests.py
seg_model_pytorch.py
models
